<div class='card'>
  <div class='face-value'><%= card.face_value %></div>
  <img class="card-suit" src=<%= "svgs/#{card.suit_image}.svg" %> alt="hearts">
  <div class='face-value'><%= card.face_value %></div>
</div>